
.octocat img{
  width: 385px;
  border: 1.5px solid #D8D8D8;
  border-radius: 3px;
}
.image-footer div{
  display: inline;
  float: right;
  height: 40px;
  border: none;
}
.image-caption div{
  float: right;
  border: none;
  color: black;
}
.image-caption span{
  color: #7D7B7A;
}

.image-caption a{
  color: #3D2829;
}
span.image-number::before {
  content: "#";
}
.authors img {
  width: 25px;
  border: none;
  margin: none;
  float: none;
  text-decoration: none;
}
.authors li {
  display: inline;
  border: none;
  text-decoration: none;
}
.authors {
  float: right;
  -webkit-padding-start: 0px
}
.octocat li {
  display: inline;
  max-width: 385px;
  max-height: 410px;
  /*border-bottom: 1.5px solid #D8D8D8;*/
}
li {
  display: inline-block;
  margin: 8px;
  max-width: 385px;
  border-bottom: 1.5px solid #D8D8D8;
  text-decoration-color: #D8D8D8;
  height: 420px;
  padding-bottom: 2px;
}
ul {
  display: inline;
  max-height: 420px;
}
body {
  margin-top: 10px;
}
div{
  display: inline;
}
a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
    -webkit-padding-start: 1px
    border-bottom: none;
    font-weight: bold;
    font-family: arial;
    font-size: 85%;
  }
span {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 90%;
    font-family: arial;
  }
